<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <menuitem
            id="menu_root"
            name="Quản lý văn bản"
            sequence="10"/>

        <menuitem
            id="menu_loai_van_ban"
            name="Loại văn bản"
            parent="menu_root"
            sequence="1"
            action="action_loai_van_ban"/>

        <menuitem
            id="menu_van_ban"
            name="Văn bản"
            parent="menu_root"
            sequence="2"
            action="action_van_ban"/>
    </data>
</odoo>
